h1 {
  font-weight: 700;
  font-size: 40px;
}

body {
  background-color: rgb(247, 240, 225);
}
header {
  border-bottom: 0.5px solid rgb(243, 240, 235);
  padding: 0 0 20px;
}
main {
  padding: 0;
  font-size: 13px;
}
footer {
  border-top: 0.5px solid rgb(243, 240, 235);
  padding: 10px 0 0px;
  font-size: 11.5px;
  color: rgb(130, 130, 130);
}
a {
  color: #ee9f5a;
}
.container {
  padding: 20px;
  max-width: 600px;
  margin: 50px auto;
  border: 1px solid;
  border-radius: 7px;
  background-color: white;
  font-weight: 400;
  font-family: "Bai Jamjuree", sans-serif;
  box-shadow: 10px 10px 30px rgb(244, 225, 203);
}
.weather-app-data {
  display: flex;
}
.search-form-input {
  background-color: rgb(249, 246, 238);
  width: 80%;
}
.search-button {
  background-color: #f38c32;
  width: 18%;
}
.search-form-input,
.search-button {
  border: 1.5px solid black;
  padding: 7px;
  border-radius: 3px;
  font-size: 12px;
}
.weather-app-city {
  margin: 0;
}
.weather-app-details strong {
  color: #e6720c;
}
.weather-app-temperature-icon {
  font-size: 35px;
  margin-top: 15px;
}

.weather-app-temperature-value,
.weather-app-temperature-unit {
  font-size: 45px;
}

.weather-app-temperature {
  display: flex;
}
